// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status{
	padding:30px 0;
	border-bottom:1px solid #ddd;
	p{
		font-size:12px;
		margin-bottom:5px;
	}
	h2{
		font-size:24px;
		line-height:24px;
		font-weight:900;
	}
	.admin{
		opacity:0;
		@include transition(opacity 0.5s);
		a{
			padding:8px 16px;
			background:#00a651;
			color:white;
			font-size:12px;
			margin-top:15px;
			border-radius:5px;
		}
	}
	&:hover{
		.admin{
			opacity:1;
		}
	}
}
